* {
    background-color: white;
    color: black;
    box-sizing: border-box;
}


.flexible {
    display: -webkit-flex;
    display: flex;
}

/* Links in paragraphs will simply be bold */
p a {
    text-decoration: none;
    font-weight: bold;
}

/* ...except for an underline during hover */
p a:hover {
    text-decoration: underline;
}


/* The standard style for lists is no style! */
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}


/* our navbar links should just look like normal text */
li a {
    text-decoration: none;
}

/* we want to bold-ify our navbar text on hover */
li a:hover {
    font-weight: bold;
}



/* HEADER
 *
 * The header glued to the top of all catalog and article
 * pages, which is just a pseudo-autograph (narcissist!).
 *
 */
.autographHeader {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    font-size: 20px;
    padding: 0 0 0 2vw;
    width: 100vw;
    z-index: 2;
}

.autographImg {
    position: relative;
}



/* ARTICLE
 *
 * The layout for an article page, which provides some amount
 * of (primarily written) content.
 *
 */
.articleTitle {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 31px;
    position: absolute;
    overflow: auto;
    top: 0;
    margin: 80px 0 0 0;
    padding: 0 25vw 0 2vw;
    width: 73vw;
    z-index: 1;
}


.articleDate{
    font-size: 13px;
    color: gray;
    z-index: 1;
}


.articleContent {
    font-family: 'Sawarabi Mincho', sans-serif;
    position: absolute;
    font-size: 19px;
    margin: 135px 24vw 0 2vw;
    padding: 50px 7vw 120px 6vw;
    width: 70vw;
}


.articlePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 1vw 50px 0;
    width: 50%;
}




/* CATALOG 
 *
 * The layout for a catalog page, which will (1.) describe
 * the sorts of articles being cataloged, and (2.) provide
 * links to each of those articles (with a lil' preview
 * of their text).
 *
 */
.catalogTitle {
    font-family: 'Lexend', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 10px;
    position: fixed;
    overflow: auto;
    top: 0;
    margin: 20px 33vw 0 125px;
    width: 100vw;
    z-index: 2;
}
.catalogTitle a {
    text-decoration: none;
}

.catalogBody {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 0;
    margin: 90px 30vw 0 2vw;
    padding: 0 0 120px 0;
}

.catalogDesc {
    font-size: 18px;
    padding: 0 0 10px 0;
}

.catalogEntry {
    margin: 20px 0 0 3vw;
    height: 160px;
}
.catalogEntry a {
    text-decoration: none;
}
.catalogEntryImg {
    float: left;
    width: 190px;
    height: 150px;
    padding: 10px 10px;
}
.catalogEntryTitle {
    font-size: 30px;
    line-height: 33px;
    font-weight: bold;
    padding: 15px 0 0 0;
}
.catalogEntryDate {
    font-size: 13px;
    color: gray;
    padding: 0 0 10px 0;
}
.catalogEntryDesc {
    font-size: 15px;
    padding: 10px 0;
}



/* ABOUT
 *
 * As a grade-A narcissist, it's critical that I talk about
 * myself as much as possible.  Thanks to this CSS, I'm able
 * to make that slightly less painful for my audience by
 * having my self-agrandizement somewhat aesthetically formatted.
 *
 */
.aboutMe {
    font-family: 'Sawarabi Mincho', sans-serif;
    position: absolute;
    font-size: 19px;
    top: 0;
    margin: 90px 31vw 0 8vw;
    padding: 0 0 50px 0;
}



/* NAVIGATION 
 *
 * The navigation bar that we glue to the right-hand side of
 * articles and catalogs (home-est page might have something
 * different, but that's for later...)
 *
 */
.rightNav {
    font-family: 'Lato', sans-serif;
    display: block;
    position: fixed;
    overflow: auto;
    top: 0vh;
    margin: 90px 0 0 72vw;
    padding: 0 0 0 25px;
    width: 24vw;
    height: 84vh;
    z-index: 3;
}


/* a class of <li>, intended for the navbar's main subjects */
.navTopic {
    padding: 7px 0 5px 0;
}


/* a class of <li>, intended for the navbar's sub-topics */
.navSubTopic {
    padding: 5px 0 5px 30px;
}



/* COPYRIGHT
 *
 * The little (c) stuff in the bottom right-hand corner
 *
 */
.copyright {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    position: fixed;
    overflow: auto;
    text-align: center;
    top: 97vh;
    margin: 0 0 0 75vw;
    width: 25vw;
    height: 4vh;
    z-index: 3;
}



